[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-mail = "*"
newsapi-python = "*"
psutil = "*"
psycopg2 = "*"
psycopg2-binary = "*"
schedule = "*"
flask-testing = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
